.navbar {
  background-color: white;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

.navbar-brand {
  padding: 7px 15px;

  > i {
    margin-right: 10px;
  }
}

.navbar-nav {

  li > a {
    text-align: center;
    font-weight: bold;
  }

  hr {
    display: none;
  }
}

@media screen and (min-width: $grid-float-breakpoint) {
  .navbar-nav {

    min-width: 320px;

    > li {
      width: 50%;
    }

    > li > a:hover,
    > li > a:active {
      background-color: white;
    }

    hr {
      display: block;
      height: 2px;
      width: 50%;
      margin: 0;
      background: #337ab7;
      border: none;
      transition: .15s ease-in-out;
    }

    #navbar-item-2:hover ~ hr {
      margin-left: 50%;
    }

    //#navbar-item-3:hover ~ hr {
    //  margin-left: 66.666%;
    //}

    li.dropdown.open ~ hr {
      //display: none;
    }
  }
}