.input-component {

  .form-control, .input-group-addon {
    border-radius: 0;
    background-color: white;
  }

  .form-control {
    border-right: none;
  }

  .input-group-addon {
    padding: 0;

    .input-component-spinner {
      display: block;
      width: 60px;

      i {
        font-size: 30px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}