.login {
  border-radius: 0;

  .panel-heading > h4 {
    text-transform: uppercase;
    font-weight: bold;
  }

  form {

    > input {
      margin-bottom: 15px;
      border-radius: 0;
    }

    .error-input {
      border-color: red;
    }

    .error-message, .btn {
      margin-top: 10px;
    }

    .error-message {
      display: inline-block;
      color: red;
      font-weight: bold;
    }

    .btn {
      border-radius: 0;
    }
  }
}