.movie-info {

  border-radius: 0;

  .panel-heading > h4 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .movie-info-data {
    font-family: 'Roboto';
    padding-left: 20px;

    .movie-info-description {
      text-align: justify;
      padding-bottom: 20px;
    }

    .movie-info-details {

      .movie-info-details-entry {

        margin-bottom: 5px;

        > span:first-child {
          color: gray;
          font-weight: bold;
        }
      }
    }

    .movie-info-actions {
      margin-top: 30px;

      .movie-info-actions-entry {
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
        font-weight: bold;

        > i {
          margin-right: 3px;
        }

        > .already-added {
          font-weight: bold;
          color: green;
        }
      }
    }
  }
}