.result-item {

  font-family: 'Roboto';

  .list-group-item-heading {
    margin-bottom: 10px;
  }

  .result-item-title {
    font-weight: bold;
  }

  .result-item-annotation > small {
    font-family: 'Raleway';
    font-size: small;
  }

  .list-group-item-text {
    font-size: small;
    text-align: justify;
  }
}