.shopping-cart {

  font-family: 'DejaVu Sans';
  border-radius: 0;

  .panel-heading > h4 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .shopping-cart-table {
    margin-left: 5%;
    margin-right: 5%;

    tr:last-child {
      border-bottom: thin solid lightgrey;
    }

    tbody > tr {
      height: 100px;
    }

    .item-info {
      line-height: 20px;
      padding-top: 32px;
    }

    .item-info-icon {
      padding-top: 33px;

      i {
        display: block;
        width: 15px;
        margin: 0 auto;
      }
    }

    .img-responsive {
      margin: 7px auto;
      max-height: 70px;
    }
  }

  .shopping-cart-summary {
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 20px;

    .summary-key {
      display: inline-block;
      padding-right: 10px;
      font-size: larger;
      font-weight: bold;
    }

    .summary-value {
      display: inline-block;
      font-size: larger;
      font-style: italic;
    }
  }

  .panel-footer {

    padding-left: 5%;
    padding-right: 5%;

    > .btn {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 0;
    }
  }
}