@font-face {
  font-family: 'CaviarDreams';
  src: url('fonts/Caviar-Dreams/CaviarDreams.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.ttf');
}